*{
    margin: 0;
    padding: 0;
}

body{
background-color: rgb(255, 255, 255);
}

.info-container{
   /*  background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info{/*  */
   /*  background-color: yellow; */
    
}
.info > label{
    font-size: 20px;
}
.search{
    display: block;
    width: 70%;
    text-align: center;
    margin: 5px auto 50px auto;
    /* background-color: green; */
}
input{
    width: 50%;
    height: 30px;
}